{% extends '::base.html.twig' %}

{% block title %}{{ web_configuration('general', 'title') }} - Administration{% endblock %}

{% block body %}
	{% include 'EasytekEcmsBundle::admin.html.twig' %}
	
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="span12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets output='min/css/ecms_admin_assets.css'
		'@EasytekEcmsBundle/Resources/less/twitter-bootstrap.less'
		'@EasytekEcmsBundle/Resources/less/admin/admin.less'
		'@EasytekEcmsBundle/Resources/less/admin/theme.less'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{{ include('EasytekEcmsBundle::globals_js.html.twig') }}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	{% javascripts output='min/js/ecms_admin_assets.js'
	    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}