{#
<script>
	globals = {
		baseUrl: '{{ asset(' ') }}'.replace(' ', ''),
		frontController: '{{ app.request.getBaseUrl() }}',
		csrfTokens: {}
	}
</script>

<div id="admin-toolbar" class="topbar">

    <div class="loader"><img src="{{ asset('bundles/easytekecms/img/loader.png') }}" alt="Chargement..." /></div>
	<div class="ajax-error">Une erreur est survenue, merci de rafraichir la page (touche F5).</div>
#}
	
<div class="navbar navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
					    <a href="{{ path('ecms_page_index') }}" class="dropdown-toggle" data-toggle="dropdown">Page <b class="caret"></b></a>
						<ul class="dropdown-menu">
					        <li><a href="{{ path('ecms_page_index') }}">Liste des pages</a></li>
					        <li><a href="{{ path('ecms_page_new') }}">Nouvelle page</a></li>
						</ul>
					</li>
					
					<li><a href="{{ path('cms_menu_index') }}" rel="menu-dialogs">Menu</a></li>
					
					{{ render(controller('EasytekEcmsBundle:Menu:adminMenu')) }}
					
					<li><a href="{{ path('ecms_configuration') }}">Configuration</a></li>
					<li><a href="{{ path('ecms_homepage') }}">Site</a></li>
					
					<a href="{{ path('fos_user_security_logout') }}" class="pull-right">
						<img src="{{ asset('bundles/easytekecms/img/logout.png') }}" alt="Déconnexion" title="Se déconnecter" />
					</a>
				</ul>
			</div>
		</div>
	</div>
</div>
	
{#	
	{% render "EasytekEcmsBundle:Page:wysiwygToolbar" %}

<div id="admin-dialogs">
	{% render "EasytekEcmsBundle:Menu:adminDialogs" %}
</div>

#}