{% extends '::base.html.twig' %}

{% block title %}{{ web_configuration('general', 'title') }}{% endblock %}

{% block body %}
	<div id="main">
		<div class="container">
			<div class="row">
				<div id="header" class="span16">
					<h1><a href="{{ path('ecms_homepage') }}">{{ web_configuration('general', 'h1') }}</a></h1>
				</div>
				
				<div id="menu" class="span16">
					{% render(controller('EasytekEcmsBundle:Menu:show')) %}
				</div>
			</div>
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}