{% for type,messages in app.session.flashbag.peekAll if (type in ['success','notice','warning','error']) %}
	{% for message in app.session.flashbag.get(type) %}
		<div class="alert alert-{{ type }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}