<script type="text/javascript">
	CKEDITOR_BASEPATH = '{{ app.request.basePath ~ '/bundles/easytekecms/ckeditor/' }}';
	REST_CSRF_TOKEN = '{{ csrf }}';
</script>

{% javascripts output='min/js/ecms_wysiwyg.js'
	'@EasytekEcmsBundle/Resources/public/ckeditor/ckeditor.js'
	
	'@EasytekEcmsBundle/Resources/js/ckeditor.config.js'
	'@EasytekEcmsBundle/Resources/js/admin/ckeditor.config.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}