<ul id="languages">
	{% set locales = {'fr' : 'Français', 'en': 'English'} %} {# todo : ne pas le mettre en dur ici #}
	{% for locale,label in locales %}
		<li>
			{% if app.request.locale != locale %}
				<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">
			{% endif %}
				{{ label }}
			{% if app.request.locale != locale %}
				</a>
			{% endif %}
		{% endfor %}
	</li>
</ul>