<ul id="languages">
	{% set locales = {'fr' : 'Français', 'en': 'English'} %} {# todo : ne pas le mettre en dur ici #}
	{% for locale,label in locales if app.request.locale != locale %}
		<li>
			<a href="{{ path('ecms_i18n_homepage', {'_locale': locale}) }}">
				<img src="{{ asset('bundles/easytekecms/img/flags/' ~ locale ~ '.png') }}" alt="{{ label }}" title="{{ label }}" />
			</a>
		</li>
	{% endfor %}
</ul>