{% extends sonata_block.templates.block_base %}

{% block block %}
    <table class="table table-bordered sonata-ba-list">
		<thead>
			<tr>
				<th colspan="3">CMS</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="sonata-ba-list-label">Page</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-small" href="{{ path('ecms_page_new') }}">
							<i class="icon-plus"></i>
							Ajouter
						</a>
						<a class="btn btn-small" href="{{ path('ecms_page_index') }}">
							<i class="icon-list"></i>
							Liste
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td class="sonata-ba-list-label">Menu</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-small" href="{{ path('cms_menu_index') }}">
							<i class="icon-list"></i>
							Modifier
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td class="sonata-ba-list-label">Actualité</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-small" href="{{ path('ecms_news_admin_new') }}">
							<i class="icon-plus"></i>
							Ajouter
						</a>
						<a class="btn btn-small" href="{{ path('ecms_news_admin_index') }}">
							<i class="icon-list"></i>
							Liste
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td class="sonata-ba-list-label">Configuration</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-small" href="{{ path('ecms_configuration') }}">
							<i class="icon-list"></i>
							Modifier
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}