{% extends "EasytekEcmsBundle:Menu:knp_menu.html.twig" %}

{% block linkElement %}
{#	{{ parent() }} #}
	<div class="item">{{ item.name }}</div>
{#	<a href="" >modifier</a> #}
{#	<a href="" >supprimer</a> #}
{% endblock %}