<div class="fill" id="wysiwyg-toolbar">
	<div class="container">
		<div id="wysiwyg-shareplace"></div>
		<div class="actions">
	 		<button class="create primary btn" data-action="{{ path('ecms_page_create_ajax', {'csrf' : csrf }) }}">Créer</button>
 			<button class="update primary btn" data-action="{{ path('ecms_page_update_ajax', {'csrf' : csrf }) }}">Enregistrer</button>
			<button class="close btn"><span class="icon-remove"></span></button>
		</div>
	</div>
</div>