{% extends "EasytekEcmsBundle:Page:adminLayout.html.twig" %}

{% block content %}
	<h2>Modifier la page</h2>
	
	<ul class="record_actions">
		<li>
			<a href="{{ path('ecms_page_delete', { 'id': entity.id }) }}" {{ csrf_post(delete_form)|raw }}>Supprimer</a>
		</li>
	</ul>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{% include "EasytekEcmsBundle:Page:form.html.twig" with {'action': path('ecms_page_update', {'id': entity.id}), 'submit':'Enregistrer'} %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'EasytekEcmsBundle::wysiwyg_assets.html.twig' with {'csrf': null} %}
{% endblock %}