<form novalidate action="{{ action }}" method="post" {{ form_enctype(form) }}>
	<p>
		{{ form_errors(form.html) }}
		{{ form_widget(form.html) }}
	</p>
		{{ form_errors(form.internalTitle) }}
		{{ form_widget(form.internalTitle) }}
	{% if form.template is defined and is_granted('ROLE_SUPERADMIN') %}
		{{ form_errors(form.template) }}
		{{ form_widget(form.template) }}
	{% endif %}
	{{ form_rest(form) }}
	<p class="submit">
		<button type="submit" class="btn">
			{%- if submit is defined %}{{ submit }}{%- else %}Envoyer{%- endif %}
		</button>
	</p>
</form>
