{% extends "EasytekEcmsBundle:Page:adminLayout.html.twig" %}

{% block content %}
	<ul class="actions">
		<li>
			<a href="{{ path('ecms_page_new') }}" class="btn">Nouvelle page <span class="icon-pencil"></span></a>
		</li>
	</ul>

	<h2>Liste des pages</h2>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}

	<table class="table zebra-striped records_list">
		<tbody>
		{% for entity in entities if entity.embeded == false %}
			<tr>
				<td>
					<img src="{{ asset('bundles/easytekecms/img/flags/' ~ entity.locale|default('none') ~ '.png') }}" alt="{{ ('language.' ~ entity.locale|default('none'))|trans }}" />
				</td>
				<td>{% if entity.isHomepage %}*{% endif %}</td>
				<td><a href="{{ path('ecms_page_show', { 'id': entity.id, 'slug': entity.slug  }) }}">{{ entity.internalTitle }}</a></td>
{#
				<td>
					Créé le {{ entity.created|date("d/m/Y à H:i:s") }}
				</td>
#}
				<td>
					Modifié le {{ entity.updated|date("d/m/Y à H:i:s") }}
				</td>
				<td>
					<ul class="actions">
					{% spaceless %}
						<li>
							<a 
								href="{{ path('ecms_page_delete', { 'id': entity.id }) }}"
								{{ csrf_post(delete_forms[entity.id], 'Êtes-vous sûr de vouloir supprimer cette page ?')|raw }}
							>
								<span class="icon-trash"></span> Delete
							</a>
						</li>
						<li>
							{% if liveEdit %}
								<a href="{{ path('ecms_page_show', { 'id': entity.id, 'slug': entity.slug  }) }}">
							{% else %}
								<a href="{{ path('ecms_page_edit', { 'id': entity.id }) }}">
							{% endif %}
								<span class="icon-edit"></span> Edit
							</a>
						</li>
					{% endspaceless %}
					</ul>
				</td>
			</tr>
		{% endfor %}
		{#
			<tr>
				<td><a href="{{ path('ecms_contact') }}">Contact</a></td>
				<td></td>
				<td></td>
				<td>
					<ul class="actions">
					{% spaceless %}
						<li>
							<a href="{{ path('ecms_contact') }}">
								<span class="icon-edit"></span>
							</a>
						</li>
					{% endspaceless %}
					</ul>
				</td>
			</tr>
		#}
		</tbody>
	</table>
	
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<h2>Liste des pages embeded</h2>
		
		<table class="table zebra-striped records_list">
			<tbody>
			{% for entity in entities if entity.embeded == true %}
				<tr>
					<td><a href="{{ path('ecms_page_show', { 'id': entity.id, 'slug': entity.slug  }) }}">{{ entity.internalTitle }}</a></td>
					<td>
						Créé le {{ entity.created|date("d/m/Y à H:i:s") }}
					</td>
					<td>
						Modifié le {{ entity.updated|date("d/m/Y à H:i:s") }}
					</td>
					<td>
						<ul class="actions">
						{% spaceless %}
							<li>
								<a 
									href="{{ path('ecms_page_delete', { 'id': entity.id }) }}"
									{{ csrf_post(delete_forms[entity.id], 'Êtes-vous sûr de vouloir supprimer cette page ?')|raw }}
								>
									<span class="icon-trash"></span>
								</a>
							</li>
							<li>
								<a href="{{ path('ecms_page_show', { 'id': entity.id, 'slug': entity.slug  }) }}">
									<span class="icon-edit"></span>
								</a>
							</li>
						{% endspaceless %}
						</ul>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

{% endblock %}
