{% extends "::layout.html.twig" %}

{% block content %}
	<div class="page editable" contenteditable="true" data-rest-resource="{{ path('ecms_rest_page_create') }}" data-rest-method="POST">
		<h2>Nouvelle page</h2>
		<p>Lorem ipsum dolor sit amet, est ne iuvaret imperdiet, sea recusabo electram neglegentur ne, cu nec natum mundi. Nam iusto legere sanctus eu, te vix sint dolore dignissim. Has erat latine diceret at, clita ocurreret ea mel, pro id tritani diceret nominavi. Eum ne erant vituperata, has in persius impedit, saepe nostrud pri at. Clita accusata in mel, et vix consequat similique.</p>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'EasytekEcmsBundle::wysiwyg_assets.html.twig' %}
{% endblock %}