{% extends "EasytekEcmsBundle:Page:adminLayout.html.twig" %}

{% block content %}
	<h2>Nouvelle page</h2>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{% include "EasytekEcmsBundle:Page:form.html.twig" with {'action': path('ecms_page_create', {'id': page.id}), 'submit':'Enregistrer'} %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'EasytekEcmsBundle::wysiwyg_assets.html.twig' with {'csrf': null} %}
{% endblock %}