{% if page.layout is null %}
    {% set layout = '::layout.html.twig' %}
{% else %}
    {% set layout = page.layout %}
{% endif %}

{% extends layout %}

{% block subtitle %}
    {% if page.hasTitle %}
        {{ page.title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}

    {% if page.hasDescription %}
        <meta name="description" content="{{ page.Description }}" />
    {% endif %}
{% endblock %}

{% macro content_slot(page, editable) %}
    <div
        id="page-{{ page.slug }}"
        class="page {% if editable %} editable"{% endif %}"
        {% if editable %}
            contenteditable="true"
            data-rest-resource="{{ path('ecms_rest_page_update', { 'id': page.id }) }}"
            data-rest-method="PUT"
        {% endif %}
    >
        {{ page.html|raw }}
    </div>
{% endmacro %}

{% set editable = (liveEdit and is_granted('ROLE_CMS_ADMIN')) %}

{% block content %}
    {{ _self.content_slot(page, editable) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if editable %}
        {% include 'EasytekEcmsBundle::wysiwyg_assets.html.twig' %}
    {% endif %}
{% endblock %}
