/* @import "../../../../../../vendor/bundles/Mopa/BootstrapBundle/Resources/bootstrap/lib/bootstrap.less"; */

h1 {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 30px;
}

input[type="submit"]:focus {
	 outline: 0;
}

#login, #request, #box, .box {
	@login-with: 300px;
	width: @login-with;
	margin: 100px auto 0px auto;
	@padding: 20px;
	padding: @padding;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,.02);
	overflow: hidden;
		
	input[type="text"], input[type="password"] {
		width: @login-with - (@padding/2);
	}

	.remember {
		float: left;
		margin-bottom: 0px;
	}
	
	.submit {
		float: right;
		margin-bottom: 0px;
	}
	
	.links {
		clear: both;
		padding-top: 10px;
	}
}

.box.medium {
	width: 400px;
}

.box.large {
	width: 600px;
}

#register {
	@login-with: 400px;
	width: @login-with;
	margin: 100px auto 0px auto;
	@padding: 20px;
	padding: @padding;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,.02);
	overflow: hidden;
}

.actions {
	text-align: right;
	background: none;
	border: 0px;
	padding-right: 30px;
	padding: 0px 30px 0px 0px;
	margin-bottom: 0px;
}

#request {
	label {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	
	input[type="submit"] {
		width: 100%;
		margin-top: 10px;
	}
}