/* body { */
/* 	-moz-transition: all 0.1s linear 0s; // Adoucie un poile le changement de padding Js déclanché par la bar wysiwyg */
/* } */

/* #header { */
/* 	padding-top: 20px; */
/* } */

/* h1 a { */
/* 	color: inherit; */
/* } */

/* h1 a:hover { */
/* 	text-decoration: inherit; */
/* 	color: inherit; */
/* } */

/* .morebreak { display: none; } */

.float-left {
    float: left;
    margin: 0px 10px 10px 0px;
}

.float-right {
    float: right;
    margin: 0px 0px 10px 10px;
}