#menu {
	margin-bottom: 20px;
	
	& > ul {
		margin-left: 0px;
	
		& > li {
			float: left;
			list-style: none;
			padding-right: 20px;
			
			ul { display: none; }
			&:hover ul { display: block; }
		}
	}
}