@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";
@import "../../../../../../../vendor/twbs/bootstrap/less/responsive.less";
@import "../../../../../../../vendor/twbs/bootstrap/less/mixins.less";

@iconSpritePath:          "/bundles/mopabootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/bundles/mopabootstrap/img/glyphicons-halflings-white.png";

body {
	background-color: red;
}