<ul id="menu-dialogs" class="admin-dialogs">
	<li data-internal-uri="{{ path('ecms_menu_index') }}" rel="home">
		{% if menuItems is not empty %}
			{% include "EasytekEcmsBundle:Menu:indexDialog.html.twig" %}
		{% endif %}
	</li>

	{% for menuItem in menuItems if menuItem.lvl <= maxLevel %}
		<li data-internal-uri="{{ path('ecms_menu_new', {'parentId': menuItem.id}) }}" data-crud="create">
			{% set parentEntity = menuItem %}
			{% set form = newForms[menuItem.id] %}
			{% include "EasytekEcmsBundle:Menu:newDialog.html.twig" %}
		</li>
	{% endfor %}
	
	{% for entity in menuItems if entity.parent is not null %}
		<li data-internal-uri="{{ path('ecms_menu_edit', {'id': entity.id}) }}" data-crud="update">
			{% set form = editForms[entity.id] %}
			{% include "EasytekEcmsBundle:Menu:editDialog.html.twig" %}
		</li>
	{% endfor %}
</ul>

<script>
	globals.csrfTokens.menu = '{% render 'EasytekEcmsBundle:Menu:getCSRFToken' %}';
	globals.csrfTokens.menuSortable = '{% render 'EasytekEcmsBundle:MenuSortable:getCSRFToken' %}';
</script>