{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block content %}
	{% if menu is not empty %}
		<h2>Modification du menu : "{{ menu[0].name }}"</h2>
		
		<a href="{{ path('cms_menu_item_new', {'parentId' : menu[0].id}) }}" >Ajouter un élément à la racine du menu</a>
		
		<div id="menu-editable">
			{% import "EasytekEcmsBundle:Menu:treeBuilder.html.twig" as treeBuilder %}
			{{
				treeBuilder.root(menu[0], 'EasytekEcmsBundle:Menu:menuItemEdit.html.twig', 'ol', {
					'forceEmpty' : 'true',
					'depth' : 'null',
					'currentAsLink' : 'true',
					'currentClass' : 'current',
					'ancestorClass' : 'current_ancestor',
					'firstClass' : 'first',
					'lastClass' : 'last',
					'rootAttributes' : {'data-root-id' : menu[0].id},
					'csrf' : csrf
				})
			}}
		</div>
	{% else %}
		Racine introuvable.
	{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
	
	{% javascripts output='min/js/ecms_admin_menu_assets.js'
	    '@EasytekEcmsBundle/Resources/js/admin/jquery.ui.nestedSortable.js'
	    '@EasytekEcmsBundle/Resources/js/admin/menu.js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}