{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block content %}
	<h1>Modifier l'élément de menu "{{ menuItem.name }}"</h1>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{%
		 include "EasytekEcmsBundle:Menu:form.html.twig"
		  with {
			'action' : path('cms_menu_item_update', {'id': menuItem.id}),
			'submit' : 'Enregistrer',
		  }
	%}
	
	<ul class="record_actions">
		<li>
			<a href="{{ path('cms_menu_index') }}">Afficher le menu</a>
		</li>
	</ul>
{% endblock %}