<h2>Modifier l'élément de menu "{{ entity.name }}"</h2>
<div class="content">
 	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{%
 		 include "EasytekEcmsBundle:Menu:form.html.twig"
		  with {
 			'action': path('ecms_menu_update', {'id': entity.id}),
 			'submit': 'Enregistrer',
 			'cancel': true,
 		  }
 	%}
</div>