<form novalidate action="{{ action }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<p>
		<button type="submit" class="btn">{{ submit }}</button>
		{% if cancel is defined and cancel %}
			<a href="{{ path('ecms_menu_index') }}" class="btn" rel="internal">Annuler</a>
		{% endif %}
	</p>
</form>