{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block content %}
	<ul class="actions">
		<li>
			<a href="{{ path('cms_menu_new') }}" class="btn btn-primary">Créer un nouveau menu</a>
		</li>
	</ul>

	<h2>Liste des menus</h2>

	{% if rootNodes is not empty %}
		<ul>
			{% for rootNode in rootNodes %}
				<li><a href="{{ path('cms_menu_edit', { 'rootId': rootNode.id }) }}">{{ rootNode.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		Aucun menu trouvé.
	{% endif %}
{% endblock %}
