<h2>Modification du menu</h2>

<div class="content">
	<a href="{{ path('ecms_menu_new', {'parentId' : menuItems[0].id}) }}" rel="internal">Ajouter un élément à la racine du menu</a>
	
	<div id="menu-editable">
		{% import "EasytekEcmsBundle:Menu:treeBuilder.html.twig" as treeBuilder %}
		{{
			treeBuilder.root(menuItems[0], 'EasytekEcmsBundle:Menu:menuItemEdit.html.twig', 'ol', {
				'forceEmpty': 'true',
				'depth': 'null',
				'currentAsLink': 'true',
				'currentClass': 'current',
				'ancestorClass': 'current_ancestor',
				'firstClass': 'first',
				'lastClass': 'last',
				'rootAttributes': {'data-root-id': menuItems[0].id},
				'csrf': csrf,
			})
		}}
	</div>
</div>