<div class="item" data-id="{{ item.id }}" title="{{ item.id }}">
	<span class="deplacer"><img src="{{ asset('bundles/easytekecms/img/move.png') }}" alt="#" /></span>
	<span class="name">{{ item.name }}</span>
	<span class="actions">
		{% spaceless %}
			<a href="{{ path('cms_menu_item_edit', {'id' : item.id}) }}" title="Modifier cet élément de menu" rel="internal">
				<img src="{{ asset('bundles/easytekecms/img/link_edit.png') }}" alt="+" />
			</a>
		{% endspaceless %}
		{% spaceless %}
			<a href="{{ path('cms_menu_item_delete', {'id' : item.id, 'csrf' : options.csrf}) }}" class="delete" data-confirm="Êtes-vous certain de vouloir supprimer cet élément de menu ? Ses sous-éléments seront également supprimés.">
				<img src="{{ asset('bundles/easytekecms/img/delete.png') }}" alt="x" title="Supprimer cet élément de menu ainsi que ses enfants" />
			</a>
		{% endspaceless %}
		{% spaceless %}
			{% if options.depth > -2 %}
				<a href="{{ path('cms_menu_item_new', {'parentId' : item.id}) }}" rel="internal">
					<img src="{{ asset('bundles/easytekecms/img/add.png') }}" alt="@" title="Ajouter un sous-élément de menu à ''{{ item.name }}''" />
				</a>
			{% endif %}
		{% endspaceless %}
	</span>
</div>