{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block content %}
	<h2>Nouveau menu</h2>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	<form novalidate action="{{ path('cms_menu_create') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<p>
			<button type="submit" class="btn">Créer</button>
		</p>
	</form>
{% endblock %}