<h2>
	Ajouter un sous-élément
	{%- if parentEntity.id != 1 %}
		 de menu à "{{ parentEntity.name }}"
	{%- else %}
		à la racine du menu
	{%- endif %}
</h2>
<div class="content">
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{%
	 	include "EasytekEcmsBundle:Menu:form.html.twig"	
		with {
			'action': path('ecms_menu_create', {'parentId' :  parentEntity.id}),
			'submit': 'Créer',
			'cancel': true,
		} 
	%}
</div>