{% extends app.request.isXmlHttpRequest ? "::base_ajax.html.twig" : "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block content %}
	<h2>
		Ajouter un sous-élément
		{%- if parentEntity.id != 1 %}
			 de menu à "{{ parentEntity.name }}"
		{%- else %}
			à la racine du menu
		{%- endif %}
	</h2>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	{%
	 	include "EasytekEcmsBundle:Menu:form.html.twig"	
		with {
			'action': path('cms_menu_item_create', { 'parentId' :  parentEntity.id }),
			'submit':'Créer'
		} 
	 %}

	<ul class="record_actions">
		<li>
			<a href="{{ path('cms_menu_edit', { 'rootId': parentEntity.root }) }}">Afficher le menu</a>
		</li>
	</ul>
{% endblock %}