{% if menu is empty %}
	!!! Erreur de menu : aucune racine !!! 
{% elseif menu|length == 1 %}
	!!! Menu vide !!!
{% else %}
	{% import "EasytekEcmsBundle:Menu:treeBuilder.html.twig" as treeBuilder %}
	{{
		treeBuilder.root(menu[0], 'EasytekEcmsBundle:Menu:menuItem.html.twig', 'ul', {
			'forceEmpty': 'true',
			'depth': 'null',
			'rootAttributes': {'class': 'nav'},
			'currentClass': 'active'
		})
	}}
{% endif %}