{% macro attributes(attributes) %}
	{% for name, value in attributes %}
		{%- if value is not none and value is not sameas(false) %}
			{{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw }}
		{%- endif %}
	{% endfor %}
{% endmacro %}

{% macro root(item, leafTemplate, rootType, options) %}
	{% if options.forceEmpty or (item.hasChildren and options.depth is not sameas(0)) %}
		<{{ rootType }}{% if options.rootAttributes is defined %}{{ _self.attributes(options.rootAttributes) }}{% endif %}>
			{{ _self.children(item, leafTemplate, rootType, options) }}
		</{{ rootType }}>
	{% endif %}
{% endmacro %}

{% macro children(item, leafTemplate, rootType, options) %}
	{# save current variables #}
	{% set currentOptions = options %}
	{% set currentItem = item %}

	{# update the depth for children #}
	{% if options.depth is not none %}
		{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
	{% endif %}

	{% for item in currentItem.children %}
		{{ _self.item(item, leafTemplate, rootType, options) }}
	{% endfor %}

	{# restore current variables #}
	{% set item = currentItem %}
	{% set options = currentOptions %}
{% endmacro %}

{% macro item(item, leafTemplate, rootType, options) %}
	{% if item.role == '' or (app.user is not null and is_granted(item.role)) %}
		{# TODO : Gérer la ligne suivante au sein de MenuItem ? #}
		{% set isCurrent = app.request.requestUri == (item.hasRoute ? path(item.routeName, item.routeParameters) : item.uri) %}
		<li
			{% if isCurrent %}
				class="{% if options.currentClass is defined %}{{ options.currentClass }}{% else %}current{% endif %}"
			{% endif %}
		>
			{% include leafTemplate %}
			{%- if item.hasChildren and options.depth is not sameas(0) %}
				<{{ rootType }}>
					{{ _self.children(item, leafTemplate, rootType, options) }}
				</{{ rootType }}>
			{%- endif %}
		</li>
	{% endif %}
{% endmacro %}