@import "../mixins.less";

body {
	padding-top: 40px;
}

.actions {
	padding: 0px;
	margin: 0px;
	background: none;
	border: 0px;
}

#admin-toolbar {
	ul.nav {
		a { outline: none; }
		a.selected {
			text-decoration: underline;
			color: #fff;
		}
	}
}

#wysiwyg-toolbar {
	display: none;
	#gradient.vertical(#fff, #ddd);
	
	.container { position: relative; }
	
	.actions {
	    position: absolute;
	    right: 0;
	    top: 1px;
	}
	
	.update, .create, .close {
		height: 25px;
	    padding: 0 10px;
	    margin-right: 3px;
	}
	
	.close {
		padding: 4px 5px 0;
		opacity: .7;
		&:hover {  opacity: 1; 	}
	}
}

.editable {
	position: relative;
}

.editable-highlight {
	position: absolute;
	margin-top: -1px; // evite le bug de l'image cachant la bordure
	&.hover { border: 1px dotted orange; }
}

#menu-editable {
	ol {
		list-style: none outside none;
		margin-left: 0px;
		
		li {
			margin-left: 20px;
		}
		
		.item {
			padding: 5px 10px;
			
			.deplacer {
				cursor: move;
				img { vertical-align: middle; }
				margin-right: 5px;
			}
			
			&:hover {
				border: 1px dotted grey;
				background-color: rgba(0, 125, 255, .3);
				padding: 4px 9px;
				color: #fff;
			}
			
			.actions {
				float: right;
			}
		}
		
		.placeholder {
			box-shadow: 0px 0px 3px rgba(0,0,0,.2);
			background-color: rgba(0, 0, 0, .2);
		}
	}
	
	& > ol > li { margin-left: 0px; }
}

/*** Admin dialogs ***/

.loader {
    background-color: rgba(255, 255, 255, 0.1);
    display: none;
    margin-right: -26px;
    padding: 2px 5px;
    position: absolute;
    right: 50%;
    z-index: 10000;
}

.ajax-error {
	@width: 370px;
	width: @width;
    color: #FFFFFF;
    left: 50%;
    margin-left: -@width/2;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 42px;
    z-index: 10000;
    background-color: #770000;
    border: 1px solid #000;
    display: none;
}

.admin-dialogs {
	position: fixed;
	@width: 500px;
	width: @width;
	left: 50%;
	margin-left: -@width/2;
	margin-top: 5px;
	border: 1px solid #8b8b8b;
	background-color: #fff;
	display: none;
	z-index: 10000;
	
	.box-shadow(0px 5px 15px rgba(0,0,0,.50));

	& > li:first-child { display: block; }

	& > li {
		display: none;
		list-style: none;
	}
	
	h2 {
		border-bottom: 1px solid #e4e4e4;
		#gradient.vertical(#fff, #f0f0f0);
		font-size: 18px;
		color: #454545;
		text-align: center;
	}
	
	.content {
		padding: 10px;
	}
}

#menu-dialogs {
	.item {
		.deplacer {
		}
	}
	
	#menu-editable > ol {
		margin-top: 10px;
	}
}

table.records_list {
	margin-top: 20px;
}

ul.actions {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	border: 0px;
	
	li {
		display: inline;
		margin-left: 5px;
	}
}

td ul.actions {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	border: 0px;
	
	li {
		display: inline;
		margin-left: 5px;
		
		span {
			opacity: .5;
			&:hover { opacity: 1; }
		}
	}
}