{% include "EasytekEcmsBundle::notification.html.twig" %}

<form novalidate action="{{ action }}" method="post" {{ form_enctype(form) }}>
	{% set prevBundle = '' %}
	
	{% for configurationItem in form.configurationItems %}
	
		{% set currentBundle = 'easytek.'~configurationItem.vars['value'].getBundleName()~'.bundleName' %}
		{% if currentBundle != prevBundle %}
			{% if prevBundle != '' %}</fieldset>{% endif %}
			<fieldset>
				<legend>{{ currentBundle|trans }}</legend>
		{% endif %}
		{% set prevBundle = currentBundle %}
		
		{{ form_widget(configurationItem) }}
	{% endfor %}
	
	{{ form_rest(form) }}
		
	<p class="submit">
		<button type="submit" class="btn">{{ submit }}</button>
	</p>
</form>