{% extends "EasytekEcmsBundle:Page:adminLayout.html.twig" %}

{% block content %}
	<h1>Configuration</h1>
	
{% for flashMessage in app.session.flashbag.get('success') %}
	<div data-alert="alert" class="alert-message success fade in">
		<a href="#" class="close">×</a>
		<p><strong>{{ flashMessage }}</strong></p>
	</div>
{% endfor %}
	
	{% include "EasytekEcmsBundle:Configuration:form.html.twig" with { 'action': path('ecms_configuration_update'), 'submit': 'Enregistrer' } %}
{% endblock %}
